* {
   -moz-box-sizing: border-box;
}
body {
  overflow-x: hidden;
  background: $lightgray;
  color: $darkgray;
  font-size: 16px;
  font-family: $font-family;
}
h1 {
  font-weight: 700;
  text-align: center;
}
a {
  color: $header_bgr;
  outline: none;
}
.container-fluid {
  min-width: 100%;
}
.view {
  @include clearfix;
  position: relative;
  min-height: 1000px;
  padding: $spacing-unit*2 0;
  background: $lightgray;
}
.subtext {
  margin-bottom: $spacing-unit*2;
}
.subhead {
  font-style: italic;
  text-align: center;
}
button {
  padding: $spacing-unit/2;
  background: $accent;
  border-radius: 5px;
  border: none;
  color: $header_bgr;
  font-size: $button-font-size;
  &:hover {
    background: $white;
    color: $darkgray;
    transition: background-color ease .5s;
  }
}