// colors
$header_bgr: #047fcd;
$white: #ffffff;
$lightgray: #e7e7e7;
$accent: #f3eb15;
$darkgray: #464640;
$invalid: #f31563;

//spacing and grid
$spacing-unit: 20px;

//type
$font-family: 'Lato', sans-serif;
$font-size: 1em;
$button-font-size: 1.1em;