footer {
  position: fixed;
  z-index: 9999;
  bottom: 0;
  background: lighten($lightgray, 5%);
  border-top: 3px solid darken($lightgray, 10%);
  .footer-inner {
    padding-bottom: $spacing-unit;
    padding-top: $spacing-unit;
  }
}