header {
  @include clearfix;
  padding: $spacing-unit 0;
  background: $header_bgr;
  border-bottom: 2px solid darken($header_bgr, 12%);
  h3 {
    display: inline-block;
    margin-top: 0;
    a {
      padding: $spacing-unit/2;
      border: 3px solid $accent;
      border-radius: 4px;
      color: $white;
      &:hover {
        background: $accent;
        color: lighten($header_bgr, 20%);
        text-decoration: none;
        transition: background-color ease .5s;
      }
    }
  }
}
nav {
  li {
    list-style-type: none;
  }
  a {
    padding: $spacing-unit/2;
    background: $accent;
    border-radius: 5px;
    font-size: $button-font-size;
    &:hover {
      background: $white;
      color: $darkgray;
      transition: background-color ease .5s;
      text-decoration: none;
    }
  }
}