<div>
  <h1>Enter Time for week of {{date.weekof}}</h1>
  <form class="form--hours col-xs-12 col-md-4 center-block" ng-submit="submitHours($event)" name="hours" ng-class="{submitted: formSubmitted}" novalidate>
    <table>
      <col span="2" />
      <tbody>
        <tr>
          <td> 
            <label class="control-label">Sunday</label>
          </td>
          <td>
            <input type="number" name="hours" ng-maxlength=2 class="form-input" ng-model="date.sunday" required>
          </td>
        </tr>
        <tr>
          <td>
            <label class="control-label">Monday</label>
          </td>
          <td>
            <input type="number" name="hours" ng-maxlength=2 class="form-input" ng-model="date.monday" required>
          </td>
        </tr>
        <tr>
          <td>
            <label class="control-label">Tuesday</label>
          </td>
          <td>
            <input type="number" name="hours" ng-maxlength=2 class="form-input" ng-model="date.tuesday" required>
          </td>
        </tr>
        <tr>
          <td>
            <label class="control-label">Wednesday</label>
          </td>
          <td>
            <input type="number" name="hours" ng-maxlength=2 class="form-input" ng-model="date.wednesday" required>
          </td>
        <tr>
        </tr>
           <td>
            <label class="control-label">Thursday</label>
          </td>
          <td>
            <input type="number" name="hours" ng-maxlength=2 class="form-input" ng-model="date.thursday" required>
          </td>
        <tr>
        </tr>
           <td>
            <label class="control-label">Friday</label>
          </td>
          <td>
            <input type="number" name="hours" ng-maxlength=2 class="form-input" ng-model="date.friday" required>
          </td>
        <tr>
        </tr>
           <td>
            <label class="control-label">Saturday</label>
          </td>
          <td>
            <input type="number" name="hours" ng-maxlength=2 class="form-input" ng-model="date.saturday" required>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="form--hours--error" ng-show="hours.$dirty && hours.$invalid && formSubmitted">
      <p class="subhead">All fields are required.</p>
    </div>
    <button class="pull-right" type="submit" ng-click="saveHours()">Save Hours</button>
  </form>
</div>